.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  text-align: center;
  background-color: #EAEAEA;
}

.header {
  font-size: 26px;
  margin-bottom: 25px;
  color: #2F3E1D;
  font-weight: bold;
}

.search-container {
  position: relative;
  width: 100%;
  max-width: 450px;
}

.search-input {
  width: 100%;
  padding: 12px 70px 12px 12px; /* Збільшено відступ справа для іконок */
  font-size: 18px;
  border: 2px solid #999;
  border-radius: 10px;
  outline: none;
  background-color: #FFF;
}

.icons {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  gap: 8px;
}

.icon {
  width: 30px;
  height: 30px;
  padding: 31px 0;
  cursor: pointer;
  transition: transform 0.2s;
}

.icon:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .header {
    font-size: 22px;
  }

  .search-container {
    max-width: 380px;
  }
}

@media (max-width: 480px) {
  .header {
    font-size: 20px;
  }
  
  .search-input {
    font-size: 16px;
    padding: 10px;
  }
  
  .icon {
    width: 40px;
    height: 40px;
  }
}